In [153]:
import pandas as pd

In [189]:
nfl_df = pd.read_csv('nfl_gamelogs_2016-2024_modified.csv')

In [172]:
veg_df = pd.read_csv('vegaslines_2016-2024.csv')

In [173]:
veg_df = veg_df.rename(columns = {'G#':'G', 'Over/Under':'Total'})

In [174]:
veg_df = veg_df.drop(veg_df.columns[6:],axis=1)

In [175]:
#veg_df.iloc[:,0].unique()

In [176]:
#removing playoff games from data
#seasons before 2021 had 16 games whereas seasons after have 17 games
veg_df = veg_df.query('(Season < 2021 and G < 17) or (Season >= 2021 and G < 18)')

In [177]:
veg_df

      Season Team  G   Opp  Spread  Total
0       2016  CRD  1   NWE    -9.0   44.5
1       2016  CRD  2   TAM    -7.5   49.5
2       2016  CRD  3  @BUF    -5.0   48.0
3       2016  CRD  4   LAR   -10.0   43.5
4       2016  CRD  5  @SFO    -3.5   42.5
...      ...  ... ..   ...     ...    ...
4561    2024  WAS  2   NYG    -1.0   43.0
4562    2024  WAS  3  @CIN     7.5   46.5
4563    2024  WAS  4  @ARI     3.5   48.5
4564    2024  WAS  5   CLE    -3.0   43.5
4565    2024  WAS  6  @BAL     6.5   51.5

[4374 rows x 6 columns]

In [178]:
veg_df['Home'] = veg_df['Opp'].apply(lambda x: 0 if x[0] == '@' else 1)

In [180]:
veg_df['Opp'] = veg_df['Opp'].apply(lambda x: x[1:] if x[0] == '@' else x)

In [181]:
veg_df

      Season Team  G  Opp  Spread  Total  Home
0       2016  CRD  1  NWE    -9.0   44.5     1
1       2016  CRD  2  TAM    -7.5   49.5     1
2       2016  CRD  3  BUF    -5.0   48.0     0
3       2016  CRD  4  LAR   -10.0   43.5     1
4       2016  CRD  5  SFO    -3.5   42.5     0
...      ...  ... ..  ...     ...    ...   ...
4561    2024  WAS  2  NYG    -1.0   43.0     1
4562    2024  WAS  3  CIN     7.5   46.5     0
4563    2024  WAS  4  ARI     3.5   48.5     0
4564    2024  WAS  5  CLE    -3.0   43.5     1
4565    2024  WAS  6  BAL     6.5   51.5     0

[4374 rows x 7 columns]

In [182]:
veg_df2 = veg_df[['Season', 'Team', 'G', 'Home', 'Opp', 'Spread', 'Total']]

In [183]:
veg_df2.columns

Index(['Season', 'Team', 'G', 'Home', 'Opp', 'Spread', 'Total'], dtype='object')

In [184]:
veg_df2

      Season Team  G  Home  Opp  Spread  Total
0       2016  CRD  1     1  NWE    -9.0   44.5
1       2016  CRD  2     1  TAM    -7.5   49.5
2       2016  CRD  3     0  BUF    -5.0   48.0
3       2016  CRD  4     1  LAR   -10.0   43.5
4       2016  CRD  5     0  SFO    -3.5   42.5
...      ...  ... ..   ...  ...     ...    ...
4561    2024  WAS  2     1  NYG    -1.0   43.0
4562    2024  WAS  3     0  CIN     7.5   46.5
4563    2024  WAS  4     0  ARI     3.5   48.5
4564    2024  WAS  5     1  CLE    -3.0   43.5
4565    2024  WAS  6     0  BAL     6.5   51.5

[4374 rows x 7 columns]

In [186]:
abbr_dict = {'OAK':'RAI', 'LVR':'RAI', 'STL':'RAM', 'LAR':'RAM', 'LAC':'SDG', 'IND':'CLT',
             'HOU':'HTX', 'BAL':'RAV', 'ARI':'CRD', 'TEN':'OTI'}
veg_df2 = veg_df2.replace({'Opp': abbr_dict})

In [187]:
veg_df2

      Season Team  G  Home  Opp  Spread  Total
0       2016  CRD  1     1  NWE    -9.0   44.5
1       2016  CRD  2     1  TAM    -7.5   49.5
2       2016  CRD  3     0  BUF    -5.0   48.0
3       2016  CRD  4     1  RAM   -10.0   43.5
4       2016  CRD  5     0  SFO    -3.5   42.5
...      ...  ... ..   ...  ...     ...    ...
4561    2024  WAS  2     1  NYG    -1.0   43.0
4562    2024  WAS  3     0  CIN     7.5   46.5
4563    2024  WAS  4     0  CRD     3.5   48.5
4564    2024  WAS  5     1  CLE    -3.0   43.5
4565    2024  WAS  6     0  RAV     6.5   51.5

[4374 rows x 7 columns]

In [191]:
nfl_df

,Season,Team,Week,Day,Date,Result,OT,Home,Opp,Pts_F,...,Opp_FGA,Opp_XPM,Opp_XPA,Opp_Pnt,Opp_Pnt_Yds,Opp_3DConv,Opp_3DAtt,Opp_4DConv,Opp_4DAtt,Opp_ToP
0,2016,CRD,1,Sun,September 11,L,0,1,NWE,21.0,...,3.0,2.0,2.0,2.0,89.0,10.0,16.0,0.0,0.0,33:59
1,2016,CRD,2,Sun,September 18,W,0,1,TAM,40.0,...,1.0,1.0,1.0,6.0,282.0,5.0,13.0,0.0,1.0,30:57
2,2016,CRD,3,Sun,September 25,L,0,0,BUF,18.0,...,2.0,3.0,4.0,5.0,178.0,4.0,13.0,0.0,0.0,26:00
3,2016,CRD,4,Sun,October 2,L,0,1,RAM,13.0,...,1.0,2.0,2.0,6.0,277.0,6.0,14.0,0.0,1.0,27:51
4,2016,CRD,5,Thu,October 6,W,0,0,SFO,33.0,...,0.0,3.0,3.0,7.0,349.0,4.0,14.0,1.0,1.0,28:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4369,2024,WAS,2,Sun,September 15,W,0,1,NYG,21.0,...,0.0,0.0,1.0,2.0,87.0,4.0,8.0,1.0,2.0,22:28
4370,2024,WAS,3,Mon,September 23,W,0,0,CIN,38.0,...,3.0,3.0,3.0,0.0,0.0,6.0,10.0,1.0,1.0,26:54
4371,2024,WAS,4,Sun,September 29,W,0,0,CRD,42.0,...,0.0,2.0,2.0,4.0,192.0,4.0,11.0,2.0,3.0,26:38
4372,2024,WAS,5,Sun,October 6,W,0,1,CLE,34.0,...,2.0,1.0,1.0,7.0,361.0,1.0,13.0,2.0,3.0,28:42
4373,2024,WAS,6,Sun,October 13,L,0,0,RAV,23.0,...,3.0,3.0,3.0,1.0,50.0,6.0,10.0,0.0,0.0,36:08

In [188]:
veg_df2.shape

(4374, 7)

In [190]:
nfl_df.shape

(4374, 61)

In [192]:
#merge nfl game statistics with betting lines based on these 4 keys 
merged_df = pd.merge(nfl_df,veg_df2, on=['Season', 'Team', 'Home', 'Opp'])

In [195]:
merged_df.to_csv('nfl_betting.csv', index=False)